

[Unit]
Description=Learning Observer Service
Requires=redis.service nginx.service
After=network.target redis.service nginx.service 
StartLimitIntervalSec=5

[Service]
ExecStart=sudo -u pmuthuk2 /bin/bash -c "/projects/WritingObserver-Pradeep/Repositories/ArgLab_writing_observer/servermanagement/RunLearningObserver.sh"
WorkingDirectory=/projects/WritingObserver-Pradeep/
User=pmuthuk2
Group=NCSU
Restart=always
RestartSec=5m
Environment=DEBUG=1
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=learning_observer
#Type=notify

















[Install]
WantedBy=multi-user.target

